* {
  font-family: "Mulish";
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
main {
  position: relative;
  background-color: #a0a3bd33;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 .belakang{
  content: "";
  top: 0;
  right: 0;
  left: 0; 
  bottom: 0;
  background-color: #333333cb;
  backdrop-filter: blur(2px);
  position: absolute;
  z-index: 1;
  display: none;
} 
.Container {
  border-radius: 8px;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-step {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 20px 20px 20px;
}

.circle {
  position: relative;
  text-align: center;
}

.step {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 16px;
}

.step.done {
  background-color: green;
}

.step.done .checkmark {
  font-size: 15px;
  text-align: center;
}

.step.aktif {
  background-color: #3366ff; 
}

.line {
  width: 50px;
  border: 1px dashed rgb(161, 161, 161);
  margin: 0 16px 15px 10px;
}

.text {
  font-size: 13px;
  color: #333;
}
.container-payment {
  background-color: white;
  width: 700px;
  height: 1200px;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 100px;
}
.payment-fill {
  margin: 5%;
}
.payment-fill h1 {
  margin-bottom: 20px;
}
.grid {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 20px;
}
.grid h4 {
  color: rgb(161, 161, 161);
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: normal;
}
.grid p {
  margin-bottom: 10px;
  font-size: 14px;
}
.head_grid2 {
  margin-top: 5%;
}
.grid2 p {
  color: rgb(161, 161, 161);
  margin-bottom: 10px;
  font-size: 14px;
}
.grid2 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 20px;
}
input[type="text"],
input[type="email"],
input[type="number"] {
  /* padding: 12px 37%; */
  width: 94%;
  height: 42px;
  border-radius: 5px;
  border: 1px solid;
  padding-left: 35px;
  color: rgb(161, 161, 161);
}
.head_grid3 h1 {
  margin-top: -50px;
}
.grid3,
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 25px;
}
.grid3 img,
.grid4 img {
  background-size: contain;
  width: 90px;
  height: 45px;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 5px;
  padding: 3px 22px;
  margin-bottom: 30px;
}
.buttonplay button {
  width: 100%;
  height: 55px;
  background-color: blue;
  color: white;
  border: 1px solid blue;
  border-radius: 5px;
  box-shadow: 6px 6px 5px #aaaaaa;
  cursor: pointer;
}

.payment_info {
  z-index: 2;
  position: absolute;
  width: 550px;
  height: 460px;
  border-radius: 5px;
  background-color: white;
  margin-left: 34px;
  display: none;
}
.active{
  display: block;
}
.fill_payment {
  margin: 20px 10px;
}
.fill_payment h3 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
}
.fill_data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* for right */
.fill_data > div:nth-child(2) {
  margin-left: 10px;
}
.fill_data > div > h3:nth-child(1) {
  font-size: 17px;
  display: inline-block;
}
.fill_data > div > p:nth-child(3) {
  display: flex;
  justify-content: end;
  font-weight: bold;
  color: blue;
  font-size: 20px;
  margin-top: 13px;
}
.fill_data span {
  border: 1px solid blue;
  border-radius: 5px;
  color: blue;
  padding: 10px 17px;
  margin-left: 3px;
}
/* for left */
.fill_data > div > p:nth-child(1) {
  margin-bottom: 60px;
}
.fill_data > div:nth-child(1) {
  color: rgb(161, 161, 161);
}
.descpay {
  margin-top: 30px;
}
.descpay p {
  color: rgb(161, 161, 161);
  font-size: 17px;
}
.descpay span {
  color: red;
}
.paybtn {
  margin-top: 40px;
  text-align: center;
}
.paybtn > div:nth-child(1) {
  background-color: blue;
  color: white;
  height: 37px;
  padding-top: 20px;
  border-radius: 5px;
  box-shadow: 1px 10px 18px #888888;
}
.paybtn > div:nth-child(2) {
  margin-top: 20px;
  color: blue;
  font-weight: bold;
}
